#formdiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#formdiv label, button, input{
    margin: 10px;
    padding: 7px;
}

#formdiv label{
    font-weight: bolder;
    font-size: 1.4em;
}




#updateformdiv{
    display: none;    
    flex-direction: column;
    margin-bottom: 20px;
}

#updateformdiv label, button, input{
    margin: 10px;
    padding: 7px;
}

#updateformdiv label{
    font-weight: bolder;
}


table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}

th, td {
    padding: 5px;
}

th {
    background-color:rgb(250, 235, 33);
}

table button{
    padding: 2px;
}

body{
    background-color: rgb(153, 217, 234);
    height:100vh;

}

.Container{
    display: flex;
    height:inherit;
}

.Left{    
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    
    
}

.Right{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;    
}

.Backbutton{
    margin: 1.2em 0;
}

#back{
    font-size: 1.2em;
    margin: 100px 0;
    padding: 0.4em;
    width: 200px;
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: a auto;

    border: 0.2em solid black;
    border-radius:50px;
    transition-timing-function: ease-in-out;
    transition: 0.7s;
}

.Right a{
    font-size: 3em;
    margin: 20px 0;
    padding: 25px;
    width: 50%;
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: a auto;

    border: 5px solid black;
    border-radius:50px;
    transition-timing-function: ease-in-out;
    transition: 0.7s;

}

a:visited{
    color: black;
}

a{
    color: black;
    text-decoration: none;
}

#back, a:hover{
    transform: scale(1.2);    
}

